*{margin:0;padding:0;}
body{font-size:12px;font-family:宋体,arial, helvetica, sans-serif;background:#FAFAFA}
html,body{width: 100%; height:100%;overflow:hidden;}
/*抬头*/
.header{background: url(../imgs/xian.png);background-repeat:no-repeat;background-size: 100% auto ;width: 100%;height: 20%;}
.mode_title{text-align:center;font-size: 22px;color: white;padding-top: 4%;margin-bottom: 1.0px;}
.mode_content{text-align:center;font-size: 18px;color:white;font-weight: 700;}
.back img{position:absolute;width: auto;height: 22px;top: 4%;left: 10%;}
/* 中间插座 */
.apply{width:90%;margin:0 auto 0 auto;}
.apply_array{ width:8.4rem;float:left;height:14.2rem;text-align: center;margin-left: 0;margin-right: 0;}
.apply_img .plug{text-align:center;width:5.6rem;display:table-cell;height:5.6rem;font-size:95px;vertical-align:middle;margin-bottom: 7%;margin-right:1.4rem;margin-left:1.4rem;margin-top: 8%;}
.apply_nav{position:relative;width:8.4rem;float:left;height:14.2rem;overflow:hidden;}
.apply_w{position:absolute;width:1000px;float:left;left:0px}
.apply .img_l img{width:0.5rem;height: auto;}
.apply .img_r img{width:0.5rem;height: auto;}
.apply .img_l{float:left;cursor:pointer;margin:2.7rem 0.7rem 2.7rem 0rem}
.apply .img_r{float:left;cursor:pointer;margin:2.7rem 0rem 2.7rem 0.7rem}
.edit{height: 25px;margin-bottom: 10px;}
.name{color: #00D1DA; font-size:25px; text-align: center;}
/*中间插排*/
.apply_img .strip_up,.apply_img .strip_down{width:5.0rem;height:5.0rem;margin-right:1.7rem;margin-left:1.7rem;}
.base{width:7.0rem;height: auto;margin-left: auto;margin-right: auto;}
.strip_switch_on{width:2.6rem;height: auto;margin-left: 1.1rem;margin-right: 0.3rem;float: left;margin-top: 1.3rem;}
.strip_switch_off{width:2.6rem;height: auto;margin-left: 0.3rem;margin-right: 1.1rem;float: left;margin-top: 1.3rem;}
.chosenButton1,.chosenButton2{position: absolute;width: 8px;height: 8px;left: 50%;margin:auto;margin-left: -4px;bottom: 5%;background: #00D1DA;border-radius: 50%;}
.chosenButton2{background: #A5A5A5;}
.div_img2,.div_img1{position: relative;}
/*中间彩灯*/
.canvas-div{visibility: none; position:absolute; width: 7.2rem;height:7.2rem;left:50%;margin-left:-3.6rem;}
.switch-lamp{position:absolute; width: 2.0rem;height:2.0rem;left:50%;top:50%; margin-left:-1.0rem;margin-top: -1.0rem;}
#can{width:100%;height:100%}
/*华丽的分隔符*/
.clear{ clear:both}/**************************这个属性到底为什么能分割？******************/
/*亮度调节滚动条*/
.bright-div{
	width: 84%;
	height: 20px;
	margin:6% auto 0;
	position: relative;/**********************这个属性的作用是？？*************************/
	/*？？？？？？？？？？？？？？？？？？？这个属性是？？？？？？？？？？？？？？？？？？？？？？？？？？？*/
	background:url("../imgs/alpha_light.png") 0px center no-repeat, url("../imgs/alpha_deep.png") 100% center no-repeat;
	background-size: auto 100%;
}
.slide-bar{
	width: 70%;
	height: 8px;
	margin:0 auto;
	background-color: #eee;
	position: relative;
	top: 6px;
	border-radius: 5px;
}
.slide-btn{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #0accd5;
	top: 0;
	left:100%;
	margin-top: -5px;
	margin-left: -10px;
	position: absolute;
}
.slide-progress{
	position: absolute;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #0accd5;
	border-radius: 5px;
}
/*颜色选择块*/
.color-picker{
	width: 77%;
	margin:auto;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           : auto;
	margin-top: 10%;
	text-align: center;
}
.color-picker li{
	display: inline-block;
	width:11%;
	height:30px;
	background-color: #c00;
}
.color-picker li.red{background-color: #c00;}
.color-picker li.green{background-color: #00ff00;}
.color-picker li.pure{background-color: #0000fd;}
.color-picker li.yellow{background-color: #feff00;}
.color-picker li.pink{background-color: #fe00fe;}
.color-picker li.white{background-color: #ffffff;}
.color-picker li.blue{background-color: #00fffc;}

li{list-style: none;} 

.setting_menu{position: absolute;bottom: 17%;width:98%;margin-left: 2%;}
.div_img_setting img{width:auto;height:60px;float:left;margin-left: 13px;}
.div_img_setting_first img{margin-left: 13px;width:auto;}
/*底下三个*/
.bottom{/*background:#00C5FF;*/ display: -moz-box;display: -webkit-box; display: box; position:absolute;bottom:0.2%;margin-left: auto;margin-right: auto;width: 100%;height:10%;}
.div_img_bot{-moz-box-flex: 1;-webkit-box-flex: 1; box-flex: 1;-webkit-box-pack:center;-webkit-box-align:center;height: 100%;text-align: center;}
.div_img_bot img{height: 100%; text-align:center}
.appTime{width: 100%;ime-mode: disabled; font-size:0px;border:0;background: url(../imgs/time_set_before.png);background-size: 100%; vertical-align:middle;}
/* 延时弹窗 */
.alert {border-radius: 0.4rem;width:80%;left:10%;background:#FAFAFA;z-index:1000;position:absolute;display: none;}  
.time_input{
	font-size:15px;
	vertical-align:middle;
	text-align:center;
	margin: 1rem 0.5rem;
	width: 3.0rem;
	height:1.2rem;
	color:grey;
	border-radius: 0.3rem;
	border-color: #A5A5A5;
}
.diag_header{height: 50px;background-color: #00D1DA;width: 100%;border-radius: 0.4rem 0.4rem 0 0;text-align: center;font-size: 22px;color:white;line-height:50px;}
.diag_content{height: 150px;}
#mybg{
	display: none; background-color: rgba(0, 0, 0, 0.3); width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 500;
}
/*checkbox*/
.checkbox { display: none; }
.box{width: 5.8rem;margin-left: auto;margin-right: auto;background: #f00;}
.box_input{width: 5.6rem;margin-left: auto;margin-right: auto;}
.box1 {
  float: left;
  position: relative;
  width: 2.4rem; height: 1.2rem;
  margin-left: 0px;
}
.min{font-size: 0.8rem;text-align: center;line-height: 1.2rem;color:grey;vertical-align:middle;}
.trigger {
  cursor: pointer;
  position: relative;
  float: left;
  width: 2.4rem; height: 1.2rem;
  border-radius: 0.7rem;
  margin: auto 10px;
  background: #A5A5A5;
  overflow: hidden;
  -webkit-transition: background .15s linear;
}
.checkbox:checked + .trigger { background: #00D1DA; }
.trigger:before {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 1.0rem; height: 1.0rem;
  border-radius: 50%;
  margin: auto 4px;
  background: #fff;
  -webkit-transition: left .15s linear;
}
.checkbox:checked + .trigger:before { left: 32px; }
.box2 {
  float: left;
  position: relative;
  margin-left: 1.0rem;
}
.button_extend{
	width: 2.4rem;
	background: url(../imgs/extend_ok.png);background-repeat:no-repeat;background-size: 100% auto ;;
}
.extend_time{
	text-align: center;
	font-size: 0.9rem;
	color: grey;
	margin-top: 30px;
}
.extend_cancel{
	display: block;
	width: 3.6rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
/*定时任务弹窗*/
/*定时抬头*/
.diag_header_s{height: 50px;background-color: #00D1DA;width: 100%;border-radius: 0.3rem 0.3rem 0 0;text-align: center;font-size: 22px;color:white;line-height:50px;}
/*时间滚轮*/
.dw{width: 230px;}
.dwv{display: none;}
.android-ics .dwwr{margin-left: auto;margin-right: auto;}
.android-ics.light .dw .dwwr{width: 215px !important; }
.dwl{display: none;}
.android-ics .dw .dwwol{background: #00D1DA;width: 100%;left: 0;}
.android-ics .dwwl{margin:0;}
.dwwc td{height: 160px;}
.android-ics.light .dw{top:0}
.android-ics .dwc{padding: 10px 10px 1px}
.dwwl1 .dww,.dwwl0 .dww{margin: 0;min-width: 100px !important;}
.android-ics.light .dwwo{margin: 0;}
.android-ics .dwc{
	padding: 0px;
}
.dwo{ background-color: rgba(0, 0, 0, 0.3);}
.dwwl1 .dwwol{margin: 0px;min-width: 100px !important;border-radius: 0 500px 500px 0;}
.dwwl0 .dwwol{margin: 0px;min-width: 100px !important;border-radius: 500px 0 0px 500px;}
.android-ics .dw .dwwol{border-top: 0px solid #31B6E7;border-bottom: 0px solid #31B6E7;}
.dwbg{border-radius:0.3rem;}
/*一二三四五六七*/
.weekday_text{
float: left;
width:25px;
height:25px;
background: #A5A5A5;
margin-right: 5px;
text-align: center;
line-height: 25px;
border-radius: 2px;
font-size: 17px;
color: white;
}
.week{
	width: 215px;
	margin-left: auto;
	margin-right: auto;
}
.weekday_a_text{
	margin-left: 5px;
}
.weekday .checkbox_a,.checkbox_b,.checkbox_c,.checkbox_d,.checkbox_e,.checkbox_f,.checkbox_g{display: none;width:25px;height:25px;}
.weekday .checkbox_a:checked +.weekday_a_text { background: #00D1DA; }
.weekday .checkbox_b:checked +.weekday_b_text { background: #00D1DA; }
.weekday .checkbox_c:checked +.weekday_c_text { background: #00D1DA; }
.weekday .checkbox_d:checked +.weekday_d_text { background: #00D1DA; }
.weekday .checkbox_e:checked +.weekday_e_text { background: #00D1DA; }
.weekday .checkbox_f:checked +.weekday_f_text { background: #00D1DA; }
.weekday .checkbox_g:checked +.weekday_g_text { background: #00D1DA; }
/*checkbox*/
.checkbox_s { display: none; }
.box_s {
  position: relative;
  width: 5.0rem;;
  margin: 45px auto 90px auto;
  background: #666;
}
.button_set{
	width: 2.0rem;
	background: url(../imgs/extend_ok.png);background-repeat:no-repeat;background-size: 100% auto ;;
}
.box2_s {
  float: left;
  position: relative;
  margin-left: 1.0rem;
}
.trigger_s {
  cursor: pointer;
  position: relative;
  float: left;
  width: 2.0rem; height: 1.0rem;
  border-radius: 1.0rem;
  margin: auto auto;
  background: #A5A5A5;
  overflow: hidden;
  -webkit-transition: background .15s linear;
}
.checkbox_s:checked + .trigger_s { background: #00D1DA; }
.trigger_s:before {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 0.9rem; height: 0.9rem;
  border-radius: 50%;
  margin: auto 4px;
  background: #fff;
  -webkit-transition: left .15s linear;
}
.checkbox_s:checked + .trigger_s:before { left: 24px; }
/*单色闪烁弹窗*/
.single_content{height: 180px;}
.single_cancel{
	display: block;
	width: 2.4rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.color-picker-alert{
	width:10%;
	margin-right: 0px;
}
#btn-single-speed,#btn-single-light{left:50%}
#pro-single-speed,#pro-single-light{width: 50%;}
/*七色闪烁弹窗*/
.seven_cancel{
	display: block;
	width: 2.4rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 19px;
}
.seven_content{height: 125px;}
#btn-seven-speed,#btn-seven-light{left:50%}
#pro-seven-speed,#pro-seven-light{width: 50%;}
/*快慢滚动条*/
.bright-div-speed{
	background:url("../imgs/slower.png") 0px center no-repeat, url("../imgs/faster.png") 100% center no-repeat;
	background-size: auto 100%;
}
