*{margin:0;padding:0;}
body{font-size:12px;font-family:宋体,arial, helvetica, sans-serif;color:#282828;}
html,body{height:100%;overflow:hidden;}
/*抬头*/
.header{background: url(../imgs/xian.png);background-repeat:no-repeat;background-size: 100% auto ;width: 100%;height: 25%;}
.mode_title{text-align:center;font-size: 22px;color: white;padding-top: 4%;margin-bottom: 1.0px;}
.mode_content{text-align:center;font-size: 18px;color:white;font-weight: 700;}
.back img{position:absolute;width: auto;height: 22px;top: 4%;left: 10%;}
/* 中间插座 */
.apply{width:90%;margin:0 auto 0 auto;}
.apply_array{width:5.6rem;float:left;height:7.2rem;margin-right:1.2rem;text-align: center;}
.apply_last{margin-right:0px}
.apply_img img{text-align:center;width:5.6rem;display:table-cell;height:5.6rem;font-size:95px;vertical-align:middle;margin-bottom: 7%;}
.apply_nav{/*background:#f00;*/position:relative;width:5.6rem;float:left;height:7.2rem;overflow:hidden;margin-left: 1.4rem;margin-right: 1.4rem;}
.apply_w{position:absolute;width:1000px;float:left;left:0px}
.apply .img_l img{width:0.5rem;height: auto;}
.apply .img_r img{width:0.5rem;height: auto;}
.apply .img_l{float:left;cursor:pointer;margin:2.7rem 0.7rem 2.7rem 0rem}
.apply .img_r{float:left;cursor:pointer;margin:2.7rem 0rem 2.7rem 0.7rem}
.edit{height: 25px;/*display: none;*/margin-bottom: 10px;}
.name{color: #00D1DA; font-size:25px; text-align: center;/*background: #666;*//*display: none;*/}
/*设置菜单*/
.setting_menu{position: absolute;bottom: 17%;width:75%;margin-left: 2%;}
.div_img_setting img{width:16%;height:auto;float:left;margin-right: 7.2%;}
.div_img_setting_first img{margin-left: 7.9%;width:14.6%;margin-right: 7.7%;}
.div_img_setting_second img{width:16.4%;margin-right: 7.0%;}
/*底下三个*/
.div_img_bot{float:left;width: 33.3%;}
.div_img_bot img{float:left;width: 100%;}
.appTime{width: 100%;font-size:0;border:0;background: url(../imgs/time_set_before.png);background-size: 100%;}
.bottom{position:absolute;bottom:0.2%;margin-left: auto;margin-right: auto;width: 100%;text-align:center;}
/* 延时弹窗 */
#alert {border-radius: 0.4rem;width:80%;left:10%;background:white;z-index:1000;position:absolute;display: none;}  
.time_input{
	font-size:15px;
	vertical-align:middle;
	text-align:center;
	margin: 1rem 2rem;
	width: 3.0rem;
	height:1.2rem;
	color:grey;
	border-radius: 0.3rem;
	border-color: #A5A5A5;
}
.diag_header{height: 50px;background-color: #00D1DA;width: 100%;border-radius: 0.4rem 0.4rem 0 0;text-align: center;font-size: 22px;color:white;line-height:50px;}
.diag_content{height: 100px;}
#mybg{
	display: none; background-color: rgba(0, 0, 0, 0.3); width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 500;
}
/*checkbox*/
.checkbox { display: none; }
.box {
  position: absolute;
  left: 0; right: 0; bottom: 35px;
  width: 2.4rem; height: 1.2rem;
  margin: auto 170px;
}
.trigger {
  cursor: pointer;
  position: relative;
  float: left;
  width: 2.4rem; height: 1.2rem;
  border-radius: 0.7rem;
  margin: auto 10px;
  background: #00D1DA;
  overflow: hidden;
  -webkit-transition: background .15s linear;
}
.checkbox:checked + .trigger { background: #00D1DA; }
.trigger:before {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 1.0rem; height: 1.0rem;
  border-radius: 50%;
  margin: auto 4px;
  background: #fff;
  -webkit-transition: left .15s linear;
}
.checkbox:checked + .trigger:before { left: 35px; }
/*定时任务弹窗*/
/*定时抬头*/
.diag_header_s{height: 50px;background-color: #00D1DA;width: 100%;border-radius: 0.3rem 0.3rem 0 0;text-align: center;font-size: 22px;color:white;line-height:50px;}
/*时间滚轮*/
.dw{width: 230px;}
.dwv{display: none;}
.android-ics .dwwr{margin-left: auto;margin-right: auto;}
.android-ics.light .dw .dwwr{width: 215px !important; }
.dwl{display: none;}
.android-ics .dw .dwwol{background: #00D1DA;width: 100%;left: 0;}
.android-ics .dwwl{margin:0;}
.dwwc td{height: 160px;}
.android-ics.light .dw{top:0}
.android-ics .dwc{padding: 10px 10px 1px}
.dwwl1 .dww,.dwwl0 .dww{margin: 0;min-width: 100px !important;}
.android-ics.light .dwwo{margin: 0;}
.android-ics .dwc{
	padding: 0px;
}
.dwo{ background-color: rgba(0, 0, 0, 0.3);}
.dwwl1 .dwwol{margin: 0px;min-width: 100px !important;border-radius: 0 500px 500px 0;}
.dwwl0 .dwwol{margin: 0px;min-width: 100px !important;border-radius: 500px 0 0px 500px;}
.android-ics .dw .dwwol{border-top: 0px solid #31B6E7;border-bottom: 0px solid #31B6E7;}
.dwbg{border-radius:0.3rem;}
/*一二三四五六七*/
.weekday_text{
float: left;
width:25px;
height:25px;
background: #A5A5A5;
margin-right: 5px;
text-align: center;
line-height: 25px;
border-radius: 2px;
font-size: 17px;
color: white;
}
.week{
	width: 215px;
	margin-left: auto;
	margin-right: auto;
}
.weekday_a_text{
	margin-left: 5px;
}
.weekday .checkbox_a,.checkbox_b,.checkbox_c,.checkbox_d,.checkbox_e,.checkbox_f,.checkbox_g{display: none;width:25px;height:25px;}
.weekday .checkbox_a:checked +.weekday_a_text { background: #00D1DA; }
.weekday .checkbox_b:checked +.weekday_b_text { background: #00D1DA; }
.weekday .checkbox_c:checked +.weekday_c_text { background: #00D1DA; }
.weekday .checkbox_d:checked +.weekday_d_text { background: #00D1DA; }
.weekday .checkbox_e:checked +.weekday_e_text { background: #00D1DA; }
.weekday .checkbox_f:checked +.weekday_f_text { background: #00D1DA; }
.weekday .checkbox_g:checked +.weekday_g_text { background: #00D1DA; }
/*checkbox*/
.checkbox_s { display: none; }
.box_s {
  position: relative;
  width: 2.0rem; height: 1.0rem;
  margin: 45px auto 20px auto;
}
.trigger_s {
  cursor: pointer;
  position: relative;
  float: left;
  width: 2.0rem; height: 1.0rem;
  border-radius: 1.0rem;
  margin: auto auto;
  background: #00D1DA;
  overflow: hidden;
  -webkit-transition: background .15s linear;
}
.checkbox_s:checked + .trigger_s { background: #00D1DA; }
.trigger_s:before {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0;
  width: 0.9rem; height: 0.9rem;
  border-radius: 50%;
  margin: auto 4px;
  background: #fff;
  -webkit-transition: left .15s linear;
}
.checkbox_s:checked + .trigger_s:before { left: 26px; }