<br />
<% post.comments.forEach(function (comment, index) { %>
  <div style="padding-left:4em">
    <span>
      <span style="color:#00D1DA"><%= comment.name %></span>:
      <span style="color:#666"><%- comment.content %></span>
    </span>
  </div>
<% }) %>