
<div class="one_comment">
<% post.comments.forEach(function (comment, index) { %>
	<p class = "article_cmts">
      <span class = "comment_author"><%= comment.name %>:</span>
      <span class = "comment_content"><%- comment.content %></span>
    </p>
<% }) %>
</div>
</article>