<footer id="footer" class = "sub_bar">
	<form method="post" class = "sub_bar" name="fpost" onsubmit="return checkNull();">
		<div class="sub_input fl"><input type="text" name="post" class="fl" placeholder = "马上发布消息..."/></div>
		<div class="sub_send fr"><button type="submit">发帖</button></div>
	</form>
</footer>
<!-- 弹窗背景 -->
<div id="alertBg"></div>
<!--修改时间弹窗-->
<div id="alert" class="alert">  
	<div class="diag_header">
		具体时间设置
	</div>
	<div class="diag_content">
		<!--设置延时时间-->
		<div class="box_input">
			<label for="time_extend_input" class="min"><%=activity.result_date%>
			</label>
			<input type="text" class="time_input" id="time_input" value="<%=activity.result_time%>"/>
		</div>
		<div style="text-align:center"><img class="ok" id="finish" src="/images/ok.png"></div>
	</div>
</div> 
<script type="text/javascript" src="/javascript/control.js"></script>
</body>
