</article>
<footer>
	<form method="post">
		<input type="text" name="post" class="fatie"/>
		<input type="submit" value="发帖" class="fatie_button"/>
	</form>
</footer>
<script type="text/javascript" src="/javascript/control.js"></script>
</body>
