<footer id="footer" class = "sub_bar">
	<form method="post" class = "sub_bar" name="fpost" onsubmit="return checkNull();">
		<div class="sub_input fl"><input type="text" name="post" class="fl" placeholder = "马上发表评论..."/></div>
		<div class="sub_send fr"><button type="submit">发送</button></div>
	</form>
</footer>
<script type="text/javascript" src="/javascript/control.js"></script>
</body>
