<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>活动论坛</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<!-- 页面头部 -->
<div class="page_header">
	<img src="/images/back.png" class="icon icon_header back_icon" onclick="window.location.href='/?activity_id=<%= activityId%>&user_id=<%= user.user_id%>'">
	<div class="header_text">活动详情</div>
</div>
<article class="article2">
