<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>活动论坛</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<!-- 页面头部 -->
<div class="page_header">
	娱乐圈
	<img src="/images/lufei.jpg" class="icon icon_header" onclick="window.location.href='/'">
</div>
<article>
