<br />
<div class="paging" id="page" >
  <img style="margin:5px 5px 5px 30%;width:30px;float:left" src="/images/loading.gif" id = "loading"/><div style="height:40px;line-height: 40px;text_align:center;width:50%;margin-left:auto;margin-right:auto" id= "loading_text">信息正在加载中...</div></div>
</div>